h1{
  color: #cd5a9d;
  text-align: center;
  margin: 20px 20px 20px 20px;
  font-weight: bold;
}

.dbc {
    background-color: white; /* Color de fondo contenedor principal */
    color: black; /* Color de letra contenedor principal */
}

.card-title, .card-text {
    color: black; /* Color letras tarjetas about us */
    text-align: center;
}

.row{
    margin-bottom: 20px;
}

a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: #cd5a9d;
  }
  
  /* selected link */
  a:active {
    color: black;
  }